<section class="imagelayer {{ class }}"
	{% if section_color %}
	style="background-color: #{{ section_color }}" 
	{% endif %}

	{% if anchor %}
	id="{{ anchor }}" 
	{% endif %}
>
  <div class="container {{ fullwidth }}">
    	<img class="image-layer-item" src="{{ image | media }}" alt="{{ alttext }}" />
  </div>
</section>