<section class="contact-form {{ class }}"
	{% if anchor %}
	id="{{ anchor }}"
	{% endif %}

	{% if section_color %}
	style="background-color: #{{ section_color }}" 
	{% endif %}
>

    <!-- Content container -->
    <div class="container"
		{% if container_color %}
		style="background-color: #{{ container_color }}" 
		{% endif %}
    >
        <div class="columns picture-inline"
			{% if font_color %}
			style="color: #{{ font_color }}" 
			{% endif %}
        >

            <div class="column info">
                {{ info | raw }}
            </div>

            <div class="column {{ column_size }} contact-form">
            	{% if display == 'card' %}
            	<div class="spacing" {% if card_color %} style="background-color: #{{ card_color }}" {% endif %} >
            	{% endif %}
	            	<form data-request="onSubmit"
					        data-request-validate 
					        data-request-success="showSuccess(this);" >
				        <div class="contact-success" id="contact-form-success" {% if card_color %} style="background-color: #{{ card_color }}" {% endif %} >
			                <div class="successful">
			                  <img src="/plugins/jozefjozef/onepageconcept/components/contactform/assets/img/success-form.svg" class="replace-svg" width="128" alt="Succes">
			                  <p>
			                    <span class="success-contact-form-title">Bedankt voor uw bericht!</span><br />
			                    We laten zo snel mogelijk ook iets van ons horen.
			                  </p>
			                </div>
		              	</div>
	            		<div class="columns form">
	            			 <div class="column">
		                        <span class="input-title">Naam: <span class="required">*</span></span>
		                        <input type="text" name="name" />		
		                    </div>
		                    <div class="column">
		                        <span class="input-title">Bedrijfsnaam:</span>
		                        <input type="text" name="bedrijfsnaam" />
		                    </div>
		                </div>
		                <div class="columns form">			
		                    <div class="column">
		                        <span class="input-title">E-mailadres: <span class="required">*</span></span>
		                        <input type="email" name="email" />
		                    </div>
		                    <div class="column">
		                        <span class="input-title">Telefoonnummer:</span>
		                        <input type="text" name="telefoonnummer" />
		                    </div>
		                </div>
		                <div class="area-field">
		                    <span class="input-title">Bericht: <span class="required">*</span></span>
		                    <textarea name="comments" id="" cols="30" rows="8" required data-attach-loading></textarea>
		                    <div class="alert alert-danger" id="error-contact-form" >Niet alle velden zijn goed ingevuld</div>
		                    <button data-attach-loading >Versturen</button>
		                </div>
		       		</form>
		       	{% if display == 'card' %}
		       	</div>
		       	{% endif %}
	       	</div>
	    </div>
	</div>
</section>