<section class="content-equal-columns {{ class }}"
	{% if anchor %}
	id="{{ anchor }}"
	{% endif %}

    {% if section_color %}
    style="background-color: #{{ section_color }}" 
    {% endif %}
>

    <!-- Content container -->
    <div class="container {{ fullwidth }}"
        {% if container_color %}
        style="background-color: #{{ container_color }}" 
        {% endif %}
    >
        <div class="container-margin">
            <div class="columns">
            	{% for column in columns %}
            		
                <div class="column {{ inner_padding }} {{ has_icons }} reveal-this"
                    {% if column_color %}
                    style="background-color: #{{ column_color }}"
                    {% endif %}
                >
                	{% if column.image %}
                    <div class="image-container">
                         <div class="image" style="background-image: url({{ column.image | media }}); {% if has_icons and height %} height: {{ height }}px; {% endif %}"></div>
                    </div>
                    {% endif %}

                    <div class="text">
                    {% if column.content %}
                     {{ column.content | raw | buttons }}
                    {% endif %}
                    </div>
                </div>

            	{% endfor %}
                
            </div>
        </div>
    </div>

</section>