<section class="slider is-fullheight"
	{% if anchor %}
	id="{{ anchor }}"
	{% endif %}

    {% if section_color %}
    style="background-color: #{{ section_color }}" 
    {% endif %}
>
    <!-- Slider main container -->
    <div class="container {{ fullwidth }}" >
        <div class="swiper-container">
            <!-- Additional required wrapper -->
            <div class="swiper-wrapper">
                <!-- Slides -->
                {% for item in slider %}
                <div class="swiper-slide" style="background-image: url({{ item.path | resize(1900) }});"></div>
				{% endfor %}
            </div>
            <!-- If we need pagination -->
            <div class="swiper-pagination"></div>
         
            <!-- If we need navigation buttons -->
            <div class="swiper-button-prev">
                <img src="/plugins/jozefjozef/onepageconcept/assets/img/icons/arrow-1.svg" class="replace-svg" alt="">
            </div>
            <div class="swiper-button-next">
                <img src="/plugins/jozefjozef/onepageconcept/assets/img/icons/arrow-1.svg" class="replace-svg" alt="">
            </div>
        </div>
    </div>
</section>