<!DOCTYPE html>
<html lang="nl" class="{{ navbar_fixed }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <title>{{ this.page.meta_title }} {{ meta_title_extra }}</title>
    <meta name="description" content="{{ this.page.meta_description }}" >

    <link href="{{ 'assets/css/style.css'|theme }}" rel="stylesheet">

    <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    {% styles %}

	<!-- OnePageConcept developed by Jozef&Jozef -->
  </head>
  <body>