<section class="parallax {{ class }}"
	{% if section_color %}
	style="background-color: #{{ section_color }}" 
	{% endif %}

	{% if anchor %}
	id="{{ anchor }}" 
	{% endif %}
>
	{% if as_img %}
		<img src="{{ image | media }}" />
	{% else %}
  <div class="container {{ fullwidth }}">
    <div class="parallax-image {{ fixed }}" style="background-image: url({{ image | media }}); height: {{ height }}px" ></div>
  </div>
  {% endif %}
</section>