<section class="listing {{ class }}" 
	{% if anchor %}
	id="{{ anchor }}"
	{% endif %}
	
	{% if section_color %}
	style="background-color: #{{ section_color }}" 
	{% endif %}
>
	<div class="container {{ fullwidth }}"
		{% if container_color %}
		 style="background-color: #{{ container_color }}" 
		 {% endif %}
	>
		<div class="columns" >
			{% if column_1 %}
			<div class="column" >
				<ul>
					{% for item in column_1 %}
					<li>
						{% if item.title %}
						<h3>{{ item.title }}</h3>
						{% endif %}
						<p>{{ item.text }}</p>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
			{% if column_2 %}
			<div class="column" >
				<ul>
					{% for item in column_2 %}
					<li>
						{% if item.title %}
						<h3>{{ item.title }}</h3>
						{% endif %}
						<p>{{ item.text }}</p>
					</li>
					{% endfor %}
				</ul>
			</div>
			{% endif %}
		</div>
	</div>
</section>