<section class="dividor {{ class }}"
	{% if section_color %}
	style="background-color: #{{ section_color }}" 
	{% endif %}

	{% if anchor %}
	id="{{ anchor }}" 
	{% endif %}
>
  <div class="container {{ fullwidth }}">
    	<div class="dividor-element" ></div>
  </div>
</section>