<section class="footer {{ class }}"
	{% if section_color %}
	style="background-color: #{{ section_color }}" 
	{% endif %}
>
	<div class="container"
		{% if container_color %}
		style="background-color: #{{ container_color }}" 
		{% endif %}
	 >
	  <div class="level">
	  	<div class="level-left">
	    	<span class="company">&copy; {{ year }} {{ name }} </span>| Alle rechten voorbehouden {% if terms_and_conditions %}<a class="terms_and_conditions" href="{{ terms_and_conditions }}" target="_blank">| Algemene voorwaarden</a>{% endif %}
	    </div>
	    <div class="level-right">
	    	<a href="https://www.jozefenjozef.nl" target="_blank" >
	    		<img src="/plugins/jozefjozef/onepageconcept/assets/img/logo-sign-white.svg" alt="Jozef&Jozef">
	    	</a>
	    </div>
	  </div>
  </div>
</section>