<section class="google-maps-api" 
	{% if section_color %}
	style="background-color: #{{ section_color }}" 
	{% endif %}
>
  <div class="container {% if fullwidth %}{{ fullwidth }}{% endif %}" >
    <div id="map" class="map-canvas"></div>
  </div>
</section>