<section class="roadmap {{ class }}" 

	{% if anchor %}
	id="{{ anchor }}"
	{% endif %}
	
	{% if section_color %}
	style="background-color: #{{ section_color }}" 
	{% endif %}
>
	<div class="container {{ fullwidth }}"
		{% if container_color %}
		 style="background-color: #{{ container_color }}" 
		 {% endif %}
	>
		{% for entry in roadmap_data %}
		<div class="entry-row">
			<div class="entry reveal-this" >
				<div class="info">
					<h3>{{ entry.title }}</h3>
					<p>{{ entry.text }}</p>
				</div>
				<div class="line">
					<div class="item-number">{{ loop.index }}</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</div>
</section>
