<nav class="navbar {{ is_fixed }}" role="navigation" aria-label="main navigation" id="top-menu"
		{% if section_color %}
		style="background-color: #{{ section_color }}" 
		{% endif %}
	>

				<div class="container {{ fullwidth }}" >

				<div class="navbar-brand">
					<a class="navbar-item" href="/" >
						<img src="{{ logo_image | media }}" alt="Logo">
					</a>

					<button id="navbar-icon" class="hamburger hamburger--slider is-hidden-desktop" onclick="this.classList.toggle('is-active');" type="button">
					  <span class="hamburger-box">
					    <span class="hamburger-inner"></span>
					  </span>
					</button>

				</div>

				<div id="navbar-menu" class="navbar-menu">

					<div class="navbar-end">
					
					{% for menu_item in menu_items %}
						<div class="navbar-item">
				        	<a href="#{{ menu_item.title | clean_url }}">{{ menu_item.title }}</a>
				      	</div>
					{% endfor %}

				  </div>

				</div>

			</div>
	</nav>