{#

    !- Variables -!

    * Type of picture
        -> Full picture     / columns add class 'picture-full'
                            / Picture as backround of picture-div
        -> Inline picture   / columns add class 'picture-inline'
                            / Picture as <img> in picture-div
    * Order of divs
        -> First column     / Add class 'first' to column-div
        -> Second column    / Add class 'second' to column-div

    * Padding top and bottom
        -> No padding top    / Add class 'no-padding-top' to first column-div
        -> No padding bottom / Add class 'no-padding-bottom' to second column-div

    * Background color 
        -> Section          / Add inline background-color to section-div
        -> Container        / Add inline background-color to container-div

    * Division of columns 
        -> Size text column / Add class to the column-div that contains the text. E.g. is-1, is-2, is-3 ... is-12

    

#}
<section class="content-text-picture {{ class }}"
	{% if anchor %}
	id="{{ anchor }}"
	{% endif %}

    {% if section_color %}
    style="background-color: #{{ section_color }}" 
    {% endif %}

>


    <!-- Content container -->
    <div class="container {{ fullwidth }}"
        {% if container_color %}
        style="background-color: #{{ container_color }}" 
        {% endif %}
    >
        <div class="columns is-centered {{ pic_class }} {% if order =="image" %}reverse-order{% endif %} {{ vertical_align }}"
            {% if font_color %}
            style="color: #{{ font_color }}" 
            {% endif %}
        >

            <div class="column text {{ column_size }} {{ class_column_text }} {% if order == "text" %}first{% else %}second{% endif %} first-mob {{ padding_settings }}">
            	{% if head %}
                <h2>{{ head }}</h2>
                {% endif %}

                {% if text %}
                {% if istextarea %}
                {{ text | nl2br }}
                {% else %}
                {{ text | raw }}
                {% endif %}
                {% endif %}
            </div>

            {% if image %}
            <div class="column picture {% if order == "image" %}first{% else %}second{% endif %} second-mob {{ padding_settings }}">
                {% if image is iterable %}
                    {% for item in image %}
                        <img src="{{ item.image | media | resize(640) }}" alt="{% if head %}{{ head }}{% endif %}" />
                    {% endfor %}
                {% else %}
                    <img src="{{ image | media | resize(640) }}" alt="{% if head %}{{ head }}{% endif %}" />
                {% endif %}
            </div>
            {% endif %}
        </div>
    </div>

</section>